body{
  margin: 0;
  padding: 0;
}
#canvas{
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#recording{
  color: red;
  position: fixed;
  top: .5em;
  left: .5em;
  display: none;
}